.about {
  background: url("../images/abstract-bg_large.svg") no-repeat top right #f5f5f5;
  padding: 70px 0;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: url("../images/border-light.svg") repeat;
    height: 11px;
    width: 100%;
    z-index: 1;
  }
  &_img{
    display: block;
    width: 100%;
  }
  &_list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &_item{
    font-size: 1rem;
    line-height: 1.313rem;
    margin-bottom: 15px;
    display: flex;
    &::before{
      content: '';
      display: block;
      height: 2px;
      width: 24px;
      background: $orange;
      min-width: 24px;
      margin: 9px 15px 0 0;
    }
  }
  &_text{
    margin: 0;
    color: $textColor;
  }
}

@media screen and (max-width: 768px) {
  .form {
    &_fields {
      .ant-form-item {
        flex-basis: 49%;
        &:last-child{
          width: 100%;
          flex-basis: initial;
          margin-top: 20px;
        }
      }
    }
  }
}