.appeal {
  padding: 100px 0;
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url("../images/abstract-bg_large.svg") no-repeat 100% 0;
    transform: rotate(-180deg);
  }
  &_name {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.125rem;
    color: $brown;
    margin: 10px 0 5px;
  }
  &_post {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.375rem;
    color: $orange;
    margin-bottom: 25px;
  }
  &_text {
    font-size: 1rem;
    line-height: 1.313rem;
    color: $textColor;
    margin-bottom: 22px;
  }
}
