.contacts {
  position: relative;
  background: #FFFFFF;
  padding-top: 30px;
  &_content{
    z-index: 1;
    margin-bottom: 0;
  }
  &_list{
    list-style: none;
    margin: 0;
    padding: 33px 100px 33px 33px;
    background: #FFFFFF;
    border: 2px solid $brown;
    border-radius: 5px;
    display: inline-block;
  }
  &_item{
    display: flex;
    font-size: 1rem;
    line-height: 1.313rem;
    color: $textColor;
    align-items: center;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &_icon{
    max-width: 22px;
    max-height: 25px;
    margin-right: 17px;
  }
}

.map {
  padding: 189px 0;
  position: relative;
  margin-top: 30px;
  overflow: hidden;
  &_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }
}