.form {
  padding: 56px 0 72px;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: url('../images/border-white-up.svg') repeat;
    height: 11px;
    width: 100%;
  }
  &_content {
    display: flex;
    flex-direction: column;
  }
  &_fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .ant-form-item {
      flex: 0 1 24%;
      margin: 0;
    }
    .ant-form-item-has-error .ant-input {
      padding: 23px 15px 8px;
    }
    .ant-form-item-explain {
      position: absolute;
      top: 8px;
      left: 15px;
      font-size: 0.75rem;
      line-height: 0.875rem;
    }
    .ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input:not([disabled]):hover {
      border-color: #B00020;
      background-color: transparent;
    }
    .ant-form-item-has-error .ant-form-item-explain {
      color: #B00020;
    }
  }
  &_agree {
    margin: 16px 0 0 23%;
    .ant-form-item-explain {
      display: none;
    }
    &.ant-form-item-has-error .ant-checkbox-inner {
      border: 1px solid #B00020;
      background: transparent;
    }
    .ant-checkbox-checked::after {
      border-color: transparent;
    }
  }
  &_head {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.125rem;
    color: #FFFFFF;
    margin: 0;
  }
  &_input {
    font-size: 1rem;
    line-height: 1.188rem;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    background: transparent;
    &::placeholder {
      text-shadow: none;
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.188rem;
      color: #FFFFFF;
    }
  }
  &_button {
    border: none;
    width: 100%;
    padding: 14px;
    height: auto;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.188rem;
  }
  &_checkbox {
    font-size: 0.875rem;
    line-height: 1rem;
    color: #FFFFFF;
  }

}

.form__dark {
  background: $brown;
  .form_link {
    color: $orange;
  }
  .form_button {
    color: #FFFFFF;
    background: $orange;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $orange;
    border-color: $orange;
  }

}

.form__light {
  background: $orange;
  .form_link {
    color: $brown;
  }
  .form_button {
    color: $brown;
    background: #FFFFFF;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $brown;
    border-color: $brown;
  }
}

@media screen and (max-width: 1200px) {
  .form {
    &_fields {
      flex-wrap: wrap;
      .ant-form-item {
        flex-basis: 33%;
      }
    }
    &_head{
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
    &_agree{
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .form {
    &_fields {
      .ant-form-item {
        flex-basis: 49%;
        &:last-child{
          width: 100%;
          flex-basis: initial;
          margin-top: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .form {
    &_fields {
      flex-direction: column;
      .ant-form-item {
        margin-bottom: 10px;
        flex-basis: auto;
        width: 100%;
      }
    }
  }
}



