.footer {
  background: #E5E5E5;
  padding: 60px 0;
  &_content {
    display: flex;
    justify-content: space-between;
  }
  %footer {
    font-size: 0.875rem;
    line-height: 1rem;
    color: $brown;
  }
  &_politic {
    @extend %footer;
    text-decoration: underline;
  }
  &_copyright {
    @extend %footer;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &_content {
      flex-direction: column;
      text-align: center;
    }
    &_politic{
      margin-bottom: 10px;
    }
  }
}