.header {
  background: #ffffff;
  &_content {
    padding: 10px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
  }
}

.logo {
  max-width: 260px;
  width: 100%;
  padding-right: 10px;
}

.nav {
  &_list {
    padding: 0 90px;
    border-left: 1px solid #D1C9C3;
    border-right: 1px solid #D1C9C3;
    .ant-anchor {
      display: flex;
      padding: 0;
    }
    .ant-anchor-ink {
      &:first-child {
        display: none;
      }
    }

  }
  &_link {
    display: block;
    padding: 12px 15px;
    font-size: 1rem;
    line-height: 1.188rem;
    color: $textColor;
  }
}

.contact {
  text-align: center;
  padding-left: 10px;
  &_link {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.188rem;
    color: $textColor;
  }
}
.hamburger{
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav {
    &_list {
      padding: 0;
    }
  }
  .header{
    &_content{
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .nav{
    order: 3;
    &_list{
      border: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .header{
    &_content{
      position: relative;
      justify-content: space-between;
    }
  }
  .contact {
    display: none;
  }
  .nav {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    &_list {
      border: none;
      .ant-anchor {
        flex-direction: column;
      }
    }
    &.show-nav {
      max-height: 300px;
      transition-duration: 0.4s;
      transition-timing-function: ease-in;
    }
  }
  %hamburger-inner {
    position: absolute;
    width: 18px;
    height: 2px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 10px;
    background-color: $textColor;
  }

  .hamburger {
    cursor: pointer;
    display: inline-block;
    overflow: visible;
    margin: 0;
    line-height: 0;
    padding: 8px;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    &.active {
      .hamburger_inner {
        transform: translate3d(0, 6px, 0) rotate(45deg);
        &:before {
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          opacity: 0;
        }
        &:after {
          transform: translate3d(0, -13px, 0) rotate(-90deg);
        }
      }
    }
    &_box {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 18px;
    }
    &_inner {
      @extend %hamburger-inner;
      &:before {
        display: block;
        content: "";
        top: 6px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform, opacity;
        @extend %hamburger-inner;
      }
      &:after {
        top: 13px;
        display: block;
        content: "";
        @extend %hamburger-inner;
      }
    }
  }
}
