.jumbotron{
  background: url("../images/jumbotron-bg.png") no-repeat center #ffffff;
  background-size: cover;
  position: relative;
  padding: 218px 0;
  &::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: url("../images/border.svg") repeat;
    height: 11px;
    width: 100%;
  }

  &_head{
    font-family: Arial Black, sans-serif;
    font-size: 2.813rem;
    line-height: 3.813rem;
    color: #ffffff;
  }
  &_btn{
    font-size: 1.125rem;
    line-height: 1.313rem;
    padding: 17px 65px;
  }
}