.politics{
  padding: 50px 0 100px;
  background: #FFFFFF;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url("../images/abstract-bg_large.svg") no-repeat 100% 0;
    transform: matrix(1.00,0.00,0.00,-1.00,0,0);
  }
  &_list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 0;
    margin: 0;
  }
  &_icon{
    height: 60px;
    width: 60px;
    background: url("../images/pdf.svg") no-repeat ;
    margin-right: 15px;
    display: block;
    float: left;
  }
  &_desc{
    font-size: 1rem;
    line-height: 1.313rem;
    color: $textColor;
    margin: 8px 0 0;
  }
  &_link{
    margin-top: 5px;
    font-size: 1rem;
    line-height: 1.313rem;
    color: $orange;

  }
}

@media screen and (max-width: 768px) {
  .politics{
    &_list{
      display: block;
    }
    &_item{
      clear: both;
      margin-bottom: 30px;
    }
  }
}