.principles{
  background: $orange;
  padding: 70px 0 90px;
  position: relative;
  &::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: url("../images/border.svg") repeat;
    height: 11px;
    width: 100%;
  }
  &_head{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.625rem;
    margin: 30px 0 60px;
  }
  &_col{
    margin-bottom: 15px;
    width: 100%;
  }
  &_item{
    background: url("../images/abstract-bg_medium.png") no-repeat center right #FFFFFF;
    padding: 30px 30px 20px;
    height: 100%;
    border-radius: 5px;

  }
  &_icon{
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
  }
  &_text{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.125rem;
    color: $brown;
    margin: 0;
  }
}