.services{
  background: url("../images/abstract-bg_large.svg") no-repeat top right #ffffff;
  padding: 70px 0;
  position: relative;
  &::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: url("../images/border-white.svg") repeat;
    height: 11px;
    width: 100%;
    z-index: 1;
  }
  &_subhead{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.125rem;
    margin-bottom: 60px;
  }
  &_col{
    margin-bottom: 15px;
  }
  &_item{
    height: 100%;
    padding: 30px;
    border-radius: 5px;
    background: url("../images/abstract-bg_min.png") no-repeat top right $grey;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: $brown;
    &__dark{
      background-color: $brown;
      color: #ffffff;
    }
  }
  &_btn{
    padding: 17px 70px;
    margin: 30px auto;
    display: block;
  }
}