@import '~antd/dist/antd.css';
@import "./assets/variables";

@import "./styles/header";
@import "./styles/jumbotron";
@import "./styles/services";
@import "./styles/about";
@import "./styles/principles";
@import "./styles/appeal";
@import "./styles/feedback";
@import "./styles/license";
@import "./styles/politics";
@import "./styles/contacts";
@import "./styles/footer";

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.head{
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: $brown;
  margin: 30px 0;
  display: inline-block;
  font-weight: bold;
  &_inner{
    background: $orange;
    display: inline-block;
    min-width: 66px;
    height: 4px;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.btn{
  outline: none;
  background: $orange;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.313rem;
}

@media screen and (max-width: 1200px){
  .container{
    padding: 0 15px;
  }
}
